<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查询</title>
</head>
<body bgcolor="#faebd7">
<center>
    <form method="post" action='__URL__/do_search'>
        <input type="text" name="username" >
        <input type="submit">
    </form>
    <br><br><br>
    <table border="0">
        <tr>
            <th >ID</th>
            <th >用户名</th>
            <th >密码</th>
        </tr>
        <volist name="data" id="vo">
            <tr>
                <td>{$vo['id']}</td>
                <td>{$vo['username']}</td>
                <td>{$vo['password']}</td>
            </tr>
        </volist>

    </table>
    <br><br><br>
    <div>{$page}</div><br><br>
    <div id="txt"></div>
    <br><br>
    <a href=" ">返回搜索页面</a >
    <a href="../User/user.html">返回主页面</a>
</center>
</body>
</html>