<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/demo1/Home/Public/CSS/login.css" rel="stylesheet" type="text/css"/>
    <title>登录</title>
</head>
<body bgcolor="#faebd7" background="/demo1/Home/Public/Images/1.jpeg" margintop="100px">

    <form action='__URL__/do_login' method='post' name='myForm'>
        用户名：<input type="text" name="username" placeholder="username"><br><br>
        密&nbsp;&nbsp;&nbsp;&nbsp;码：<input type="password" name="password" placeholder="password"><br><br>
           <!-- <label for="j_verify" class="t">验证码：</label>-->

        验证码：<input id="j_verify" name="code" type="text" class="form-control x in" placeholder="点击刷新">
        <br><br>
            <img id="verify_img" alt="点击更换" title="点击更换"
                 onclick='this.src=this.src+"?"+Math.random()'
                 src="{:U('yanzhengma/verify',array())}" class="m">
        <br><br>
        <input type="submit" style="width:155px;">
        </form>
        <br>

        if you dont have an account<a href="../Register/register.html">click here</a>

</body>
</html>